@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Dongle-light";

    src: url(font/Dongle/Dongle-Light.ttf);
}
@font-face {
    font-family: "Dongle-regular";

    src: url(font/Dongle/Dongle-Regular.ttf);
}
@font-face {
    font-family: "Dongle-bold";

    src: url(font/Dongle/Dongle-Bold.ttf);
}
::-webkit-scrollbar {
    width: 1rem; 
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #8e44ad; 
}
header{
    display: flex;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0,0,20px rgb(0, 0, 0.1);
    align-items: center;
}
.logo img{
    width: 15%;
    
}

.flex{
     display: flex; 
}
.nav-menu li:last-child{
    margin-right: 0px;
}
.nav-menu li{
    list-style: none;
    margin-right: 20px;  
}

.nav-menu a {
    text-decoration: none;
    font-family: "Dongle-bold"; 
    font-size: 1.6rem;
    color: black;
    transition: all ease 0.5s;
}
.nav-menu a:hover{
    color: rgb(255, 170, 12);
}
.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(255, 253, 253);
    box-shadow: -10px 0 10px white;
    display: none;
    flex-direction: column;


}
.side-bar li{
    margin-left: 10px;
    margin-top: 5px;
    padding: 10px;
}
.Bar{
    display: none;
}
.hero{
    position: relative;
    height: 600px;
    overflow: hidden;
}
.hero-image img{
    position:absolute;
    top: opx;
    left: o;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    
}
.hero-content{
    position:absolute;
    top: 19%;
    left: 50%;
    /* padding-bottom: ; */
    transform: translate(-50%,50%);
    text-align: center;
    color: #000000;
    
}
.hero-content h1{
  font-family: "Dongle-bold";
  font-size: 4rem;
}
.hero-content p{
    font-family: "Dongle-regular";
    font-size: 1.8rem;
    margin-top: -20px;
    margin-bottom: 10px
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #e45420;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: "Dongle-light";
    font-size: 1.6rem;
    transition: all ease 0.5s;
    
}
.hero-button:hover{
  color: rgb(0, 0, 0);

}
.destinations{
    font-size: 2.4rem;
    font-family: "Dongle-bold";
    margin: 40px 80px;
    text-align: center;
    
}
.destinations h2{
    margin-bottom: 40px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    
}
.destination-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}
.destination-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
   

}
.destination-grid img:hover {
    transform: scale(1.1);
}
.destination-item {
    text-align: left;
    /* border: 2px solid rgb(235, 218, 218); */
    box-shadow: 0 4px 8px rgb(0, 0, 0.1);
    border-radius: 10px;
    
}
.destination-item h3{
    font-size: 2rem;
    text-align: center;
}
.destination-item p{
    font-size: 1.4rem;
    line-height: 1;
    font-family: "Dongle-regular";
    text-align: center;
}
.Button{
    display: inline-block;
    /* display: none; */
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    padding: 5px 25px;
    font-family: "Dongle-light";
    font-size: 1.6rem;
    transition: all ease 0.5s;
    margin-left: 125px;
    margin-top: 15px;
    margin-bottom: 15px
    
}
.Button:hover{
    color: rgb(255, 170, 12);
}
.about{
    text-align: center;
    padding: 100px;
    
}
.about h3{
   font-family: "Dongle-bold";
   font-size: 3rem;
}
.about p{
    font-family: "Dongle-regular";
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 40px;
}
.team-members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.team-member img{
    width: 300px;
    height: 300px;
    margin: 20px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
}
.team-member img:hover{
    transform: scale(1.1);
}
.team-member h4{
    font-family: "Dongle-bold";
    font-size: 2rem;
}
.team-member{
    box-shadow: 0 4px 8px rgb(0, 0, 0.1);
    margin: 20px 12px;
    border-radius: 10px;
}
.map-section{
    border: 3px solid rgb(234, 242, 234);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 0 4px 8px rgb(0, 0, 0.1);
}
.map-header{
    text-align: center;
    font-family: "Dongle-Bold";
    font-size: 3rem;
}
.frame{
    height: 500px;
    width: 1000px;
}
.map-button{
    text-decoration: none;
    margin-left: 30px;
    font-family: "Dongle-Light";
    font-size: 1.5rem;
    transition: all ease 0.5s;
    background-color: rgb(39, 130, 34);
    color: wheat;
    padding: 5px 25px;
    border-radius: 10px;

}
.map-button:hover{
    color: #e45420;
}
.contact-head{
    text-align: center;
    line-height: 2rem;
    margin-top: 150px;
    margin-bottom: 40px;
}
.contact-head h3{
    font-family: "Dongle-Bold";
    font-size: 3rem;
}
.contact-head p{
    font-family: "Dongle-light";
    font-size: 1.5rem;
}
.contact{
    box-shadow: 0 4px 8px rgb(0, 0, 0.1);
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.icon{
     margin-left: 20px;
     color: #8e44ad;
     font-size: 25px;
     
     
}
.address{
    margin-left: 100px;
    padding: 20px;
    line-height: 2rem;
}
/* book now form  */
.main_bg{
    background-image: url(images/booknow\ background.jpg);
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form{
    width: 650px;
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div span{
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    color: #fff;
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: yellow !important;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: black !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}


@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}

@media(max-width: 800px){
    .hideonmobile{
        display: none;
    }
}
@media(max-width:800px){
    .Bar{
        display: flex;
    }
}
@media(max-width:1026px){
   .Button{
    margin-right: 200px;
    
   }
}
@media(max-width:700px){
    .Button{
      margin: 0px;
      padding: 0px;
    }
    
}
@media(max-width:1006px){
    .map-section{
        width: 700px;
        margin-left: 150px;
    }
    .map-button{
        font-size: 1rem;
    }
}
@media(max-width:887px){
    .map-section{
        margin-left: 50px;
    }
}
@media(max-width:760px){
    .map-section{
        width: 500px;
        height: 500px;
        margin-left: 100px;
    }
    .frame{
        width:400px;
        height: 360px;
    }
}
@media(max-width:613px){
    .map-section{
        margin-left: 25px;
    }
}
@media(max-width:535px){
    .map-section{
        height:495px;
        width:350px;
        margin-left: 68px;
    }
    .frame{
        width:300px;
    }
}
@media(max-width:430px){
    .map-section{
        margin-left: 20px;
    }
}
@media (max-width:372px){
    .map-section{
        width:300px;
        height: 400px;
        margin-left: 35px;

    }
    .map-section h3{
        line-height: 2.5rem;
    }
    .frame{
        width: 200px;
        height: 250px ;
    }
}
/* delete */
@media (max-width: 1177px) {
    .hero-content h1{
        line-height: 0.7;
    }
    .hero-content p{
        margin-top: 0;
        line-height: 0.8;
    }
    .destinations img{
        height: 250px;
    }
    input, textarea{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .hero-content h1{
        margin-bottom: 5px;
    }
    .team-member img{
        width: 200px;
        height: 200px;
    }
    .destination-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}
@media (max-width:603px){
    .hero-content h1{
        font-size: 2rem;
    }
    .hero-content p{
        font-size: 1.5rem;
    }
}
@media (max-width:430px){
    .hero-content h1{
        font-size: 1.3rem;
    }
    .hero-content p{
        font-size: 1rem;
    }
    .hero-button{
        padding: 6px 22px;
        font-size: 16px;
    }
    .destinations{
        font-size: 1.5rem;
    }
    .destination-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
    }
    .about{
        padding: 0 30px;
    }
    .team-member img{
        width: 250px;
        height: 250px;
    }
}
  
